body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funda {
    background-image: url(https://www.hola.com/imagenes/estar-bien/20180831128704/ronroneo-gatos-causas/0-595-638/gato-ronroneo-1-t.jpg?filter=w600&filter=ds75);
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    box-shadow: 10px 15px 8px rgba(12, 0, 0, 0.404);
}

.disco {
    background-image: linear-gradient(black, rgba(196, 185, 185, 0.87), black);
    height: 390px;
    width: 390px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
    left: -150px;
    border: 2px solid black;
    box-shadow: 10px 15px 8px rgba(12, 0, 0, 0.404);
}

.circulo_int {
    background-image: linear-gradient(rgb(255, 0, 119), rgba(207, 129, 177, 0.986), rgb(255, 0, 119));
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.agujero {
    background: rgba(255, 255, 255, 0.87);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
}
